@inject Organaizer.Services.SettingService service
@{
    List<Setting> settings = await service.GetSettings();
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>@(settings.FirstOrDefault(x=>x.Key=="Name")?.Value)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">

    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">

    <link rel="stylesheet" href="~/assets/css/aos.css">

    <link rel="stylesheet" href="~/assets/css/ionicons.min.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/assets/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/icomoon.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body class="goto-here">
    <div class="py-1 bg-black">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                            <span class="text">+@(settings.FirstOrDefault(x=>x.Key=="Phone")?.Value)</span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                            <span class="text">@(settings.FirstOrDefault(x => x.Key == "Email")?.Value)</span>
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                            <span class="text">@(settings.FirstOrDefault(x => x.Key == "Motto")?.Value)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" asp-action="index" asp-controller="home">@(settings.FirstOrDefault(x => x.Key == "Name")?.Value)</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item "><a asp-action="index" asp-controller="home" class="nav-link">Əsas Səhifə</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mağaza</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" asp-action="index" asp-controller="shop">Organaizerlər</a>
                            <a class="dropdown-item" asp-action="cart" asp-controller="shop">Səbət</a>
                            <a class="dropdown-item" href="checkout.html">Checkout</a>
                        </div>
                    </li>
                    
                        @if(User.Identity.IsAuthenticated){
                                <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"  id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hesab</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" >@User.Identity.Name</a>
                                <a class="dropdown-item" asp-action="logout" asp-controller="account">Çıxış Et</a>
                                
                            </div>
                            </li>
                        }
                        else{
                            <li class="nav-item "><a asp-action="login" asp-controller="account" class="nav-link">Daxil Ol</a></li>

                        }
                        
                        
                    
                    <li class="nav-item dropdown">
                       
                        <li class="nav-item cta cta-colored"><a asp-action="cart" asp-controller="shop" class="nav-link"><span class="icon-shopping_cart"></span></a></li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

@RenderBody()
    

    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a href="#" class="mouse-icon">
                        <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">@(settings.FirstOrDefault(x => x.Key == "Name")?.Value)</h2>
                        <p>@(settings.FirstOrDefault(x => x.Key == "Footer Motto")?.Value)</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            
                            <li class="ftco-animate"><a href="https://@(settings.FirstOrDefault(x => x.Key == "Facebook")?.Value)"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="https://@(settings.FirstOrDefault(x => x.Key == "Instagram")?.Value)"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Menu</h2>
                        <ul class="list-unstyled">
                            <li><a asp-action="index" asp-controller="shop" class="py-2 d-block">Mağaza</a></li>
                            
                        </ul>
                    </div>
                </div>
                
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Bizimlə Əlaqə</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><a href="https://www.google.com/maps/place/ @(settings.FirstOrDefault(x => x.Key == "Location")?.Value)"><span class="icon icon-map-marker"></span><span class="text">@(settings.FirstOrDefault(x => x.Key == "Location")?.Value)</span></a></li>
                                <li><a href="tel:@(settings.FirstOrDefault(x => x.Key == "Phone")?.Value)"><span class="icon icon-phone"></span><span class="text">+@(settings.FirstOrDefault(x => x.Key == "Phone")?.Value)</span></a></li>
                                <li><a href="mailto:@(settings.FirstOrDefault(x => x.Key == "Email")?.Value)?subject=Konu&body=Mesajınızı buraya yazın"><span class="icon icon-envelope"></span><span class="text">@(settings.FirstOrDefault(x => x.Key == "Email")?.Value)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.easing.1.3.js"></script>
    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/jquery.stellar.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/aos.js"></script>
    <script src="~/assets/js/jquery.animateNumber.min.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/assets/js/google-map.js"></script>
    <script src="~/assets/js/main.js"></script>

</body>
</html>