@using OrganaizerShop.Models
@model OrganaizerModel

	<section class="ftco-section">
		<div class="container">
			<div class="row">
			<div class="col-lg-6">
				<div class="home-slider owl-carousel" style="height: 400px; width: 100%; overflow:hidden;">
					@foreach (var item in Model.OrganaizerImages)
					{
						<div class="col-lg-6 mb-5 ftco-animate">
							<a>
								<img src="~/uploads/organaizers/@item.ImageUrl" class="img-fluid" alt="Colorlib Template" style="height:300px">
							</a>
						</div>
					}
				</div>
			</div>

			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
					<h3>@Model.Name</h3>
					
					@if (Model.Discount>0)
                           {
                                <div class="pricing">
                                    <p class="price"><span class="mr-2 price-dc"style="text-decoration: line-through;">@Model.Price AZN</span><span class="price-sale">@Model.LPrice AZN</span></p>
                                </div>
                           }
                           else
                            {
                            <div class="pricing">
                                <p class="price"><span class="price-sale">@Model.LPrice AZN</span></p>
                            </div>
                            }
					<p>Məlumat : @Model.Desc</p>
					<p>Rəng : @Model.Color
						</p>
					<p>Tip : @Model.Type</p>
					<p>Təyinat : @Model.Purpose</p>

						
					 
				  
				  
			  <p><a asp-action="addtobasket" asp-controller="shop" asp-route-id="@Model.Id" class="btn btn-black py-3 px-5 mr-2">Səbətə Əlavə Et</a>
				</div>
			</div>




			</div>
			</section>

